.blogCardContainer {
  --gray: rgba(130, 130, 130, 0.6);
  display: flex;
  align-items: center;
  width: 100%;
  padding: 2rem;
  gap: 2rem;
}

.blogCardContainer + .blogCardContainer {
  border-top: 1px solid var(--gray);
}

.blogCardContainer:hover {
  background-color: var(--gray);
}

.imageContainer {
  position: relative;
  width: 100px;
  aspect-ratio: 1/1;
  overflow: hidden;
}

.imageContainer img {
  object-fit: cover;
  object-position: center;
}

.textContainer {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.readMore {
  cursor: pointer;
  font-weight: bold;
  color: black;
  text-decoration: underline;
}
